#content #time{
	width: 1170px;
	height: 55px;
	background-image: url(../images/content/time/seckill_hd.png);
	margin-top: 10px;
	position: relative;
}
#content #time .miao{
	height: 45px;
	position: absolute;
	bottom: 5px;
	left: 50px;
}
#content #time .miao p{
	color: white;
	font-size: 24px;
	line-height: 40px;
}
#content #time a{
	color: white;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}
#content #time .timefl{
	position: absolute;
	bottom: 15px;
	left: 170px;
}
#content #time .timefl img{
	margin-bottom: -2px;
}
#content #time .timefr-1{
	position: absolute;
	right: 10px;
	bottom: 15px;
}
#content #time .timefr-2{
	position: absolute;
	right: 90px;
	bottom: 9px;
}
#content #time .timefr-2 p{
	color: #f90013;
	font-size: 24px;
	line-height: 37px;
	display: inline-block;
	text-align: center;
}
#content #time .timefr-2 p:nth-of-type(odd){
	background-color: black;
	width: 35px;
	height: 37px;
	border-radius: 2px;
}
#content #time .timefr-2 p:nth-of-type(even){
	color: black;
}
#content #time .timefr-3{
	position: absolute;
	bottom: 15px;
	right: 235px;
}