*{
	margin: 0;
	padding: 0;
}
body{
	width: 1190px;
	/*
	border-right: 1px solid #e7e7e7;
	*/
}
#header{
	width: 1190px;
	height: 120px
}
#header #topImg{
	height: 80px;
}
#header #shortcut{
	height: 40px;
	background-color: #e6e6e6;
	position: relative;
}
#header #shortcut li{
	list-style: none;
	position: relative;
	border-radius: 3px;
}
#header #shortcut a{
    font-size: 14px;
	color: #515151;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
}
#header #shortcut .float-left{
	float: left;
	margin-left: 250px;
}

#shortcut .float-left img{
	position: absolute;
	top: 12px;
	left: -20px;
}
#shortcut .float-left .location{
	position: absolute;
	width: 290px;
	top: 40px;
	padding:10px;
	background-color: white;
	text-align: center;
	display: none;
	z-index: 100;
}
#shortcut .float-left .location li{
	display: inline-block;
	width: 50px;
	padding: 2px;
	font-size: 14px;
	color: #515151;
	cursor: pointer;
}
#shortcut .float-right{
	float: right;
}
#shortcut .float-right li{
	display: inline-block;
	padding-right: 10px;
	cursor: pointer;
}
#shortcut .float-right img{
	position: absolute;
	top: 12px;
	right: 0;
}
#shortcut .float-right li a{
	border-left: 1px solid #bfbfbf;
	padding-left: 10px;
}
#shortcut .float-right .owner{
	position: absolute;
	width: 220px;
	top: 40px;
	padding:10px;
	background-color: white;
	display: none;
	cursor: pointer;
	z-index: 100;
}
#shortcut .float-right .owner li{
	display: inline-block;
	width: 96px;
	padding: 2px;
	font-size: 14px;
	color: #515151;
}
#shortcut .float-right .customerService{
	position: absolute;
	width: 165px;
	top: 40px;
	padding:10px;
	background-color: white;
	display: none;
	z-index: 100;
}
#shortcut .float-right .customerService li{
	display: inline-block;
	width: 76px;
	padding: 2px;
	font-size: 14px;
	color: #515151;
	cursor: pointer;
	text-align: center;
}
#shortcut .float-right .customerService .customer,#shortcut .float-right .customerService .business{
	width: 160px;
	font-size: 16px;
	line-height: 30px;
	color: black;
	text-align: left;
}
#shortcut .float-right .webSite{
	width: 1190px;
	height: 150px;
	margin-left: -1015px;
	top: 40px;
	position: absolute;
	background-color: white;
	display: none;
	z-index: 100;
}
#shortcut .float-right .webSite div{
	padding: 10px;
	border-right: 1px solid #e6e6e6;
	color: #515151;
	float: left;
	display: inline-block;
}
#shortcut .float-right .webSite div li{
	width: 80px;
	font-size: 12px;
	padding: 0;
}
#shortcut .float-right .webSite .caption{
	display: block;
	color: red;
	font-size: 14px;
}
#shortcut .float-right .webSite .done{
	width: 343px;
}
#shortcut .float-right .webSite .dtwo,.dthree,.dfour{
	width: 250px;
}
#shortcut .float-right .handPhone{
	width: 280px;
	height: 330px;
	margin-left: -213px;
	top: 40px;
	position: absolute;
	padding: 10px 5px;
	background-color: white;
	display: none;
	z-index: 100;
}
#shortcut .float-right .handPhone div{
	position: relative;
	float: left;
	display: inline-block;
}
#shortcut .float-right .handPhone div a{
	height: 20px;
	font-size: 14px;
	display: inline-block;
	border: 0;
}
#shortcut .float-right .handPhone  div #right{
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	color: red;
	display: block;
	margin: 10px 0 -10px 0;
}
#shortcut .float-right .handPhone div .down{
	display: inline-block;
	width: 41px;
	text-align: center;
	margin-top: -20px;
}
#shortcut .float-right .handPhone div #downText{
	display: inline;
	width: 20px;
	font-size: xx-small;
	text-align: center;
}
#shortcut .float-right .handPhone img{
	float: left;
	position: relative;
}
#shortcut .float-right .handPhone .pictureTwo{
	height: 110px;
}
#shortcut .float-right .handPhone .pictureTwo div a{
	display: block;
}
#shortcut .float-right .handPhone .pictureThree div a{
	display: block;
}

#shortcut .float-right .handPhone .pictureThree #down{
	display: inline-block;
	width: 41px;
	text-align: center;
	margin: -0px 0 0px 0;
}
#shortcut .float-right .handPhone .pictureThree #downText{
	display: inline-block;
	width: 41px;
	text-align: center;
	margin: -5px 0 0px 0;
}